@mixin clearfix{
  //to clear the float:left
  //float:left causes the row to lose the margin
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
