.popup{
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;


//use table and table-cell to make them of the same height.
  &__content{
    @include absCenter;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    background-color: $color-white;
    border-radius: 3px;
    display: table;
    overflow: hidden; //problem: img overlaps the radius. This will fix it!
  }

  &__left{
    width: 33.333333%;
    display: table-cell;
  }

  &__right{
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle; //use to make text centered in the table
    padding: 3rem 5rem;
  }

  &__img{
    display: block;
    width: 100%;
  }

  &__text{
    font-size: 1.4rem; //1em=14px!!! 1em is the current size of the element!!!
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    -ms-column-count: 2;
    -ms-column-gap: 4rem;
    -ms-column-rule: 1px solid $color-grey-light-2;

    -ms-column-count: 2;
    -ms-column-gap: 4rem;
    -ms-column-rule: 1px solid $color-grey-light-2;

    -webkit-column-count: 2;
    -webkit-column-gap: 4rem;
    -webkit-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2; //vertical line between columns

    hyphens: auto; //automatic hyphenation! Add lang="en" to html element.
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
  }
}
